.cabecalho{
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 30%;
    height: 30%;
    padding: 70px 15px;
}

.cabecalho-item-lista{
    display: inline-block;
    margin: 0 16px;
    padding: 60px 0;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}

.escola{
    background-image: linear-gradient(#24B7C7,#5AB78D);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-imagem{
    width:25%;
}

.escola-conteudo{
    width: 35%;
    
}

.escola-titulo {
    padding: 24px 0;
}